<nav>
  <mat-toolbar color="primary" class="categories">
    <mat-toolbar-row class="toolbar-navigation">
      <button mat-icon-button class="example-icon" (click)="show()">
        <mat-icon>menu</mat-icon>
      </button>
      <a routerLink="/home">Instruweb</a>
      <span class="example-spacer"></span>
      <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>favorite</mat-icon>
      </button>
      <button mat-icon-button class="example-icon" aria-label="Account" routerLink="/account">
        <mat-icon>home</mat-icon>
      </button>
    </mat-toolbar-row>
    <div *ngIf="categories.length > 0; else noCategories">
    </div>
    <mat-toolbar-row *ngFor="let item of categories" class="toolbar-navigation" [ngClass]="hide ? 'hideToolbar' : 'showToolbar'">
      <a [routerLink]="['/products', item.id]">{{item.name}}</a>
    </mat-toolbar-row>
  </mat-toolbar>

  <ng-template #noCategories>
    <mat-toolbar-row>
      <span>No categories available</span>
    </mat-toolbar-row>
  </ng-template>
</nav>
