<mat-toolbar color="primary" class="categories">
  <mat-toolbar-row>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>Instruweb</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button>
  </mat-toolbar-row>
  <div *ngIf="categories.length > 0; else noCategories">
  </div>
  <mat-toolbar-row *ngFor="let item of categories">
      <p>{{item.id}} | {{item.name}}</p>
  </mat-toolbar-row>
</mat-toolbar>

<ng-template #noCategories>
  <mat-toolbar-row>
    <span>No categories available</span>
  </mat-toolbar-row>
</ng-template>
